# -*- encoding:utf-8 -*-
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title><%block name="title"/></title>
    <link rel="stylesheet" href="${root_path('styles.css')}" type="text/css" media="screen" charset="utf-8" />
    % for url in assets['main_css'].urls():
        <link rel="stylesheet" href="${root_path(url)}" type="text/css" media="screen" charset="utf-8" />
    % endfor
    % for url in assets['main_js'].urls():
        <script src="${root_path(url)}" type="text/javascript" charset="utf-8"></script>
    % endfor
</head>
<body>
    <div id="layout">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1 class="text-center">My project</h1>
                </div><!-- span12 -->
                <div class="span2 sidebar">
                    <%include file="navigation.html" />
                </div><!-- sidebar -->
                <div class="span10 page">
                    ${self.body()}
                </div><!-- page -->
            </div><!-- row -->
        </div><!-- container -->
        <div id="layout-footer"></div>
    </div><!-- layout -->
    <div id="footer">
        <div class="container">
            <div class="pull-right">
                My project © 2013
            </div>
        </div><!-- container -->
    </div><!-- footer -->
</body>
</html>
