<%def name="item(url, label)">
% if current_page == url:
<span>${label}</span>
% else:
<a href="${root_path(url)}">${label}</a>
% endif
</%def>
<ul>
    <li>${item("index.html", "Home")}</li>
    <li>${item("page1.html", "Page 1")}</li>
</ul>
