# -*- encoding:utf-8 -*-
<%inherit file="includes/layout.html"/>

<%block name="title">Page 1</%block>

<h1>Page 1</h1>

<p>Utque aegrum corpus quassari etiam levibus solet offensis, ita animus eius angustus et tener, quicquid increpuisset,
ad salutis suae dispendium existimans factum aut cogitatum, insontium caedibus fecit victoriam luctuosam.</p>

Excogitatum est super his, ut homines quidam ignoti, vilitate ipsa parum cavendi ad colligendos rumores per
Antiochiae latera cuncta destinarentur relaturi quae audirent. hi peragranter et dissimulanter honoratorum circulis
adsistendo pervadendoque divites domus egentium habitu quicquid noscere poterant vel audire latenter intromissi
per posticas in regiam nuntiabant, id observantes conspiratione concordi, ut fingerent quaedam et cognita
duplicarent in peius, laudes vero supprimerent Caesaris, quas invitis conpluribus formido malorum
inpendentium exprimebat.</p>

<p>Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia.
Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur
paludatus? Quo? Quo pervenire ante certam diem non licebit. ianuario, Februario, provinciam non
habebit; Kalendis ei denique Martiis nascetur repente provincia.</p>

<p>Sed laeditur hic coetuum magnificus splendor levitate paucorum incondita, ubi nati sunt non
reputantium, sed tamquam indulta licentia vitiis ad errores lapsorum ac lasciviam. ut enim Simonides
lyricus docet, beate perfecta ratione vieturo ante alia patriam esse convenit gloriosam.</p>
